# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
backup.sql

# Media and static files (if not using separate storage for static/media files)
media/

# IDE/editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Environment variable files
.env
.env.*
*.env
.venv
env/
venv/
ENV/
.env.development
.env.production

# Coverage reports
.coverage
*.cover

# PyCharm-specific files
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
__pycache__/

# Node.js
node_modules/
npm-debug.log
theme/node_modules/
theme/package-lock.json
package-lock.json

# Old/Backup files #
*.old
*.backup
*.orig

# Specific to current situation #
views.old.py
templates.old/

todos/
schema.png
schema.dot
fabfile/
robots.txt
newrelic.ini
