EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
DEFAULT_CONTACT_EMAIL=
ADMIN_NOTIFICATION_EMAILS=

SECRET_KEY=your_secret_key
DEBUG=False
ALLOWED_HOSTS=your_domain.com,your_ip_address
DATABASE_URL=your_database_url