{% load i18n %}
<header class="bg-white shadow-sm sticky top-0 z-50">
    <div class="container mx-auto px-4 py-4 flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0">
        <a href="/" class="text-xl font-bold text-brand-primary hover:text-brand-accent">
            {{ site_name }}
        </a>        
        <nav aria-label="Main Navigation" class="space-x-4  md:flex">
            <ul class="flex space-x-6">
                <li>
                    <a href="{% url 'post_list' %}" 
                       class="text-brand-primary hover:text-brand-accent transition-colors font-bold text-sm">
                        {% trans 'all posts' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}" 
                       class="text-brand-primary hover:text-brand-accent transition-colors font-bold text-sm">
                        {% trans 'categories' %}
                    </a>
                </li>
                <li>
                    <a href="/about/" 
                       class="text-brand-primary hover:text-brand-accent transition-colors font-bold text-sm">
                        {% trans 'about' %}
                    </a>
                </li>
                <li>
                    <a href="/contact/" 
                       class="text-brand-primary hover:text-brand-accent transition-colors font-bold text-sm">
                        {% trans 'contact' %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

