{% extends "base.html" %}
{% load i18n %}
{% load responsive_image %}

{% block content %}
<div class="max-w-5xl mx-auto">
    {% include "components/breadcrumbs.html" %}
    
    <header class="mb-12">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">{{ blog_category_title }}</h1>
        <p class="ext-xl text-gray-600">{{ blog_category_description }}</p>
      </header>
    
    {% comment %} <div class="grid md:grid-cols-3 gap-6">
        {% for category in categories %}
        <div class="bg-white shadow-md rounded-lg p-6 hover:shadow-lg transition-shadow">
            <h2 class="text-xl font-bold mb-4 text-brand-primary">
                <a href="{{ category.get_absolute_url }}" 
                   class="hover:text-brand-accent">
                    {{ category.name }}
                    {% responsive_image category.featured_image alt_text=post.title css_class="w-full h-auto rounded-lg object-cover" %}
                </a>
            </h2>
            <div class="flex justify-between items-center">
                <span class="text-text-secondary">
                    {{ category.posts.active.count }}
 
                    {% trans 'Posts' %}
                </span>
            </div>
        </div>
        {% endfor %}
    </div> {% endcomment %}

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for category in categories %}
        <article class="bg-white rounded-lg shadow-sm overflow-hidden hover:shadow-md transition-shadow duration-300">
            <div class="aspect-w-16 aspect-h-9">
                {% responsive_image category.featured_image alt_text=post.title css_class="w-full h-full object-cover" %}

            </div>
            
            <div class="p-6">
                <h2 class="text-xl font-semibold text-gray-900 mb-2">
                    <a href="{{ category.get_absolute_url }}" class="hover:text-gray-600">
                        {{ category.name }}
                    </a>
                </h2>
                {% if category.description %}
                <p class="text-gray-600 mb-4">{{ category.description|truncatewords:30 }}</p>
                {% endif %}
                <div class="flex items-center text-sm text-gray-500">
                    <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                    </svg>
                    {{ category.posts.active.count }} posts
                </div>
            </div>
        </article>
        {% endfor %}
    </div>    
    {% include "components/pagination.html" %}
</div>
{% endblock %}