{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="max-w-5xl mx-auto">
    {% include "components/breadcrumbs.html" %}

    <header class="mb-12 text-center">
        <h1 class="text-4xl font-bold text-brand-primary mb-4">
            {{ blog_title }}
        </h1>
        <p class="text-text-secondary max-w-xl mx-auto">
            {{ blog_description }}
        </p>
    </header>
    

    
    <div class="grid lg:grid-cols-3 gap-6">
        {% for post in posts %}
            {% include "components/post_card.html" %}
        {% endfor %}
    </div>
    
    {% include "components/pagination.html" %}
</div>
{% endblock %}