{% load i18n %}

<div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg">
    <a href="{{ post.get_absolute_url }}">
        {% if post.featured_image %}
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="rounded-t-lg">
        {% else  %}
        <div class="w-full h-48 bg-gray-200 flex items-center justify-center">
            <span class="text-gray-400">{% trans "No Image Available" %}</span>
        </div>
        {% endif %}
        <h2 class="text-xl font-semibold mt-4">{{ post.title }}</h2>
        <p class="text-sm text-gray-600">{{ post.excerpt }}</p>
    </a>
</div>