{% load i18n %}
{% if is_paginated %}
<nav aria-label="Pagination" class="flex justify-center space-x-2 my-8">
    {% if page_obj.has_previous %}
    <a href="c={{ page_obj.previous_page_number }}" 
       class="px-4 py-2 border rounded hover:bg-gray-100 aria-current:bg-brand-accent aria-current:text-white">
        {% trans 'Previous' %}
    </a>
    {% endif %}

    {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <span aria-current="page" 
              class="px-4 py-2 border bg-brand-accent text-white rounded">
            {{ page }}
        </span>
        {% else %}
        <a href="{% url 'post-list' page=page %}" 
           class="px-4 py-2 border rounded hover:bg-gray-100">
            {{ page }}
        </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{% url 'post-list' page=page_obj.next_page_number %}={{ page_obj.next_page_number }}" 
       class="px-4 py-2 border rounded hover:bg-gray-100">
       {% trans 'Next' %}
    </a>
    {% endif %}
</nav>
{% endif %}